@using eShopSolution.ViewModels.System.Users;
@model LoginRequest;
@{
    Layout = null;
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Đăng nhập hệ thống</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Style -->
    <link rel="stylesheet" href="/loginStyles/css/style.css" type="text/css" media="all" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- login form -->
    <section class="w3l-login">
        <div class="overlay">
            <div class="wrapper">
                <div class="form-section">
                    <h3>Đăng nhập</h3>
                    <form asp-action="Index" asp-controller="Login" method="post" class="signin-form">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <label>Tên đăng nhập</label>
                        <div class="form-input">
                            <input type="text" asp-for="UserName" style="text-transform:uppercase" required="" autofocus>
                        </div>
                        <i class="fa fa-key" aria-hidden="true"></i>
                        <label>Mật khẩu</label>
                        <div class="form-input">
                            <input type="password" asp-for="Password" required="">
                        </div>
                        <label class="check-remaind">
                            <input asp-for="RememberMe" type="checkbox">
                            <span class="checkmark"></span>
                            <p class="remember">Nhớ mật khẩu</p>
                        </label>
                        <div asp-validation-summary="All" style="color:red"></div>
                        <button type="submit" class="btn btn-primary theme-button mt-4"><i class="fa fa-sign-in" aria-hidden="true"></i> Đăng nhập</button>
                        <div class="new-signup">
                            <a href="#reload" class="signuplink">Quên mật khẩu ?</a>
                        </div>
                    </form>
                    <p class="signup">Bạn có tài khoản chưa ? <a href="#signup.html" class="signuplink">Đăng ký</a></p>
                </div>
            </div>
        </div>
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>

        <!-- copyright -->
        <div class="copy-right">
            <p>&copy; 2020 Giao diện đăng nhập. All rights reserved | Design by <a href="#" target="_blank">Hoàng Sơn</a></p>
        </div>
        <!-- //copyright -->
    </section>

    <!-- /login form -->
</body>
</html>