@model NavigationViewModel
<form id="frmChangeLanguage" action="/Home/Language" method="post" class="form-inline">
    <div class="form-row">
        <div class="form-group col-md-4">
            <select class="form-control" onchange="this.form.submit()" asp-for="CurrentLanguageId"
                    asp-items="@(new SelectList(Model.Languages,"Id", "Name", Model.CurrentLanguageId))">
            </select>
        </div>
        </div>
</form>
